/** Variables */

:root{
    --main-text-color: #ffff;
    --main-bg-color: #0084fd;
    --paragraph-text-color: rgb(95, 95, 95);
    --main-card-color: #afdbfd; 
    --secodary-bg-color: #9792e4;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    margin: 0 auto;
    padding: 1.5rem 2rem;
}

.flex{
    display: flex;
}

.flex-center{
    justify-content: center;
    align-items: center;
}

.align-center{
    align-items: center;
}

.align-end{
    align-items: flex-end;
}

.justify-center{
    justify-content: center;
}

.space-between{
    justify-content: space-between;
}

.row{
    flex-direction: row;
}

.column{
    flex-direction: column;
}

.wrap{
    flex-wrap: wrap;
}

.card{
    background-color: #AFDBFD;
    width:100% ;
    margin-top: 2rem;
    padding: 3rem 3rem 0 3rem ;
    border-radius: 20px;
}

.text-center{
    text-align: center;
}

body{
    font-family: 'PT Sans', sans-serif;
    line-height: 30px;
}

header{
    background-color: var(--main-bg-color) ;
}
header div.logo{
    cursor: pointer;
}

header div.nav a.menu-icon{
    display: block;
    font-size: 1.8rem;
}

header nav ul li{
    list-style-type: none;
    padding: 1rem;
    color: white;
    font-size: 1.1rem;
    cursor: pointer;
}

nav{
    display: none;
}

header a{
    color: white;
    font-size: 1.5rem;
}

/* * ########### INTRODUCTION SECTION ########### */

section.introduction div.card h1{
    color: var(--main-bg-color);

}

section.introduction div.card p{
    color: var(--paragraph-text-color);
    margin-top: 20px;
    font-weight: bolder;
}

div.card button.app-store{
    border-radius:28px;
    border: none;
    cursor:pointer;
    background-color: var(--main-bg-color);
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 3px;
    padding:14px 50px;
    text-decoration:none;
    color: white;
    margin-top: 40px;
}

div.card img{
    padding-top: 30px;
    width: 100%;
    height: 100%;
}

div.small-card{
    padding: 2rem;
}

div.small-card i{
    font-size: 5rem;
    color: var(--main-bg-color);
}

div.small-card h1{
    padding-top: 1rem;
}


/* * ########### PLANNING SECTION ########### */
section.planning{
    background-color: var(--secodary-bg-color);
    margin-top: 60px;
}

section.planning  .col-image,
.col-card{
    width: 100%;
    margin-bottom: 2rem;
    padding: 1rem;
    color: var(--main-text-color);
}

.col-image img{
    width: 100%;
}

div.col-image h1{
    font-size: 2rem;
    font-weight: bolder;
    margin: 40px 0;
}

div.col-card{
    padding: 1.5rem;
    background-color: white;
    border-radius: 50px;
    color: black;
}

div.col-card img{
    width: 100%;
    margin-bottom: 10px;
}

div.col-card h1{
    margin-bottom: 20px;
}

div.col-card p{
    font-size: 1.1rem;
    font-style: italic;
    margin-bottom: 40px;
}

div.arrow{
    margin: 0 auto;
    width: 50px;
    height: 50px;
    background-color: var(--secodary-bg-color);
    border-radius: 50%;
    padding: 10px;
}



/* * ########### TESTIMONIALS SECTION ########### */
section.testimonials div.text{
    width: 100%;
}

div.text p{
    font-size: 1.2rem ;
    margin: 2rem;
    line-height: 35px;
}

div.text h1{
    font-size: 2.4rem;
    color: var(--secodary-bg-color);
}

section.testimonials div.id-card{
    width: 100%;
    background-color: var(--secodary-bg-color);
    margin-top: 2rem;
    border-radius: 50px;
    padding: 1.8rem;
    color: white;
}

div.id-card figure{
    width: 190px;
    height: 190px;
    border-radius: 50%;
    margin: 0 auto;
    overflow: hidden;
    margin-bottom: 15px;
}

div.id-card figure img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

div.id-card i{
    font-size: 1.5rem;
}

div.id-card span{
    font-size: 1.2rem;
}

div.id-card p{
    font-size: 1.3rem;
    margin-top: 30px;
    font-weight: bold;
}

/* * ########### BENEFITS SECTION ########### */
section.benefits{
    background-color: #9792E4;
}

section.benefits div.title{
    width: 100%;
    height:80px;
    background-color: lightsalmon;
}

section.benefits div.benefit-card{
    width: 100%;
    height: 400px;
    background-color: white;
    border-radius: 30px;
    margin-top: 2rem;
}

section.about div.about-text,
div.about-img{
    width: 100%;
    height: 400px;
    background-color: cadetblue;
    margin-top: 2rem;
}

section.get{
    background-color: #9792E4;
}

section.get div.free{
    width: 100%;
    height: 600px;
    background-color: lightgoldenrodyellow;
}

footer{
    background-color:#333333 ;
}

footer div.credit{
    width: 100%;
    height: 200px;
    background-color: lightgray;
}

/*!############################################################# */
/* RESPONSIVE */

/*? TABLET */
@media screen and (min-width: 768px){

    .container{
        width: 100%;   
    }

    .cards{
        display: flex;
        flex-wrap: wrap;
    }

    .cards .card{
        background-color: var(--main-card-color);
        width: calc(100% / 3 - 28px);
        margin: 14px;
    } 

    .cards .card:first-child{
        background-color: var(--main-card-color);
        width: calc((100% / 3) * 2 - 28px );
        
    } 

    header div.nav a.menu-icon{
        display: block;
    }

    section.planning .col-image,
    .col-card{
        width: 100%;
    }
    
    div.card img{
        padding-top: 30px;
        width: 50%;
    }

    div.col-image h1{
        font-size: 4rem;
    }

    div.col-card{
        padding: 1.5rem 2.5rem;
    }

    div.col-card img{
        padding: 40px;
    }

    div.id-card{
        display:flex ;
        justify-content: center;
        align-items: center;
    }

    div.id-card figure{
        flex-basis: 25%;
    }

    div.id-card .card-description{
        flex-basis: 75%;
        margin-left: 20px;
        text-align: left;
    }


    section.benefits div.benefit-card{
        display: inline-block;
        width:calc(100% / 2 - 2rem);
        height: 300px;
        background-color: white;
        border-radius: 30px;
        margin: 1rem;
    }

    section.benefits div.card-container{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    section.about div.container{
        display: flex;
    }

    section.about div.about-text,
    div.about-img{
        height: 400px;
        background-color: cadetblue;
        margin: 1rem;
    }

    section.about div.about-text{
        flex-basis: 60%;
    }

    section.about div.about-img{
        flex-basis: 40%;
    }

    section.get div.free{
        width: 70%;
        height: 300px;
        background-color: lightgoldenrodyellow;
        margin:  0 auto;
    }

    footer div.credit{
        width: 65%;
        height: 200px;
        margin: 0 auto;
        background-color: lightgray;
    }

/*!############################################################# */

/*? DESKTOP */

@media screen and (min-width: 992px){

    .container{
        width: 65%;  
        padding: .5rem 2rem;    
    }

    header div.nav a.menu-icon{
        display: none;
    }

    nav{
        display: block;
    }

    nav ul li a.button{
        border-radius:28px;
        cursor:pointer;
        background-color: white;
        font-size:17px;
        padding:7px 15px;
        text-decoration:none;
        color: black;
    }

    section.introduction div.card{
        flex-wrap: nowrap;
    }

    section.introduction div.card img{
        padding: 0;
        width: 100%;
        height: 100%;
    }


    section.planning div.container{
        flex-direction: row;
    }

    section.planning  .col-image,
    .col-card{
        padding: 50px;

    }




    div.col-image h1{
        font-size: 2rem;
    }

    

    section.benefits div.benefit-card{
        display: inline-block;
        width: calc(100% / 3 - 1.6rem);
        height: 300px;
        background-color: white;
        border-radius: 30px;
        margin: 0.8rem;
    }

}