*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container{
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
}

.flex{
    display: flex;
}

.align-center{
    align-items: center;
}

.justify-center{
    justify-content: center;
}

.space-between{
    justify-content: space-between;
}

.card{
    background-color: #AFDBFD;
    width:100% ;
    /*! ALTEZZA DA RIMUOVERE DOPO CONTENUTI */
    height: 300px;
    margin-top: 2rem;
    border-radius: 20px;
}

body{
    font-family: 'PT Sans', sans-serif;
}

header{
    background-color: #1181F6;
}

header div.nav a.menu-icon{
    display: block;
    font-size: 2rem;
}

header nav ul li{
    list-style-type: none;
    padding: 1rem;
    color: white;
    font-size: 1rem;
    cursor: pointer;
}

nav{
    display: none;
}

header a{
    color: white;
    font-size: 1.5rem;
}
section.planning{
    background-color: #9792E4;
    margin-top: 3rem;
}

section.planning div.col .col-image,
.col-card{
    width: 100%;
     /* !ALTEZZA DA RIMUOVERE DOPO CONTENUTI */
    height: 300px;
    text-align: center;
    background-color: rgb(74, 165, 240);
    margin-bottom: 2rem;
}

section.testimonials div.text{
    width: 100%;
    /*! ALTEZZA DA RIMUOVERE DOPO CONTENUTI */
    height: 200px;
    background-color: rgb(76, 182, 108);
}

section.testimonials div.id-card{
    width: 100%;
    height: 200px;
    background-color: #AFDBFD;
    margin-top: 2rem;
    border-radius: 50px;
}

section.benefits{
    background-color: #9792E4;
}

section.benefits div.title{
    width: 100%;
    height:80px;
    background-color: lightsalmon;
}

section.benefits div.benefit-card{
    width: 100%;
    height: 400px;
    background-color: white;
    border-radius: 30px;
    margin-top: 2rem;
}

section.about div.about-text,
div.about-img{
    width: 100%;
    height: 400px;
    background-color: cadetblue;
    margin-top: 2rem;
}

section.get{
    background-color: #9792E4;
}

section.get div.free{
    width: 100%;
    height: 600px;
    background-color: lightgoldenrodyellow;
}

footer{
    background-color:#333333 ;
}

footer div.credit{
    width: 100%;
    height: 200px;
    background-color: lightgray;
}

/*!############################################################# */
/* RESPONSIVE */

/*? TABLET */
@media screen and (min-width: 768px){

    .container{
        width: 100%;   
    }

    .cards{
        display: flex;
        flex-wrap: wrap;
    }

    .cards .card{
        background-color: blueviolet;
        width: calc(100% / 3);
        /* ALTEZZA DA RIMUOVERE DOPO CONTENUTI */
        height: 300px;
        margin: 0;
        border: 2px solid white;
    } 

    .cards .card:first-child{
        background-color: blueviolet;
        width: calc((100% / 3) * 2 );
        /* ALTEZZA DA RIMUOVERE DOPO CONTENUTI */
        height: 300px;
    } 

    header div.nav a.menu-icon{
        display: block;
    }

    section.planning div.col .col-image,
    .col-card{
    width: 100%;
     /* ALTEZZA DA RIMUOVERE DOPO CONTENUTI */
    height: 500px;
    /* background-color: rgb(168, 96, 236); */
    text-align: center;
    background-color: rgb(74, 165, 240);
    }

    section.benefits div.benefit-card{
        display: inline-block;
        width:calc(100% / 2 - 2rem);
        height: 300px;
        background-color: white;
        border-radius: 30px;
        margin: 1rem;
    }

    section.benefits div.card-container{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    section.about div.container{
        display: flex;
    }

    section.about div.about-text,
    div.about-img{
        height: 400px;
        background-color: cadetblue;
        margin: 1rem;
    }

    section.about div.about-text{
        flex-basis: 60%;
    }

    section.about div.about-img{
        flex-basis: 40%;
    }

    section.get div.free{
        width: 70%;
        height: 300px;
        background-color: lightgoldenrodyellow;
        margin:  0 auto;
    }

    footer div.credit{
        width: 65%;
        height: 200px;
        margin: 0 auto;
        background-color: lightgray;
    }

/*!############################################################# */

/*? DESKTOP */

@media screen and (min-width: 992px){
    .container{
        width: 65%; 
        padding: 1rem;       
    }

    header div.nav a.menu-icon{
        display: none;
    }

    nav{
        display: block;
    }

    nav ul li a.button{
        border-radius:28px;
        cursor:pointer;
        background-color: white;
        font-size:17px;
        padding:7px 15px;
        text-decoration:none;
        color: black;
    }
    
    section.planning .col{
        display: flex;
    }

    section.planning div.col .col-image,
    .col-card{
        margin: .5rem;
    }

    section.benefits div.benefit-card{
        display: inline-block;
        width: calc(100% / 3 - 1.6rem);
        height: 300px;
        background-color: white;
        border-radius: 30px;
        margin: 0.8rem;
    }

}
